div{
    border: 2px solid blue;
    border-radius: 10px;
    background-color: black ;
    width: 500px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin: auto;
    padding: 10px;
    color: aqua;
}

h1{
    color: aqua;
}