<p>nav works!</p>


<nav>

    <button type="button" class="btn btn-primary btn-sm" routerLink="databinding" style="margin-right: 30px;">DataBinding</button>

    <button type="button" class="btn btn-primary btn-sm" routerLink="direvitive" style="margin-right: 30px;">Directive</button>
    <button type="button" class="btn btn-primary btn-sm" routerLink="angform" style="margin-right: 30px;">Ang Form</button>
    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 30px;" routerLink="emp">Emp Details</button>
    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 30px;" routerLink="bf"> BreakFast </button>
    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 30px;" routerLink="productdash"> DataBase </button>
    <button type="button" class="btn btn-primary btn-sm" style="margin-right: 30px;" routerLink="angMaterial"> Angular Material </button>
    <button type="button" class="btn btn-primary" style="float: right;" (click) = "logOut()">logout</button>

</nav>